<div class="login">

    <form id="loginForm" method="post">
        <h2>Welcome! Please login if you're already registered or register first.</h2>
            <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required >
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
            <input type="submit"  value="Register" class="btn" id="registerBtn">
            <input type="submit" value="Login" class="btn" id="loginBtn">
        
    </form>

</div>

<div class="right">
    <img src="/img/green2.png" alt="">
</div>

<div class="center">
    <img src="/img/green1.png" alt="">
</div>

<div class="left_top">
    <img src="/img/green3.png" alt="">
</div>

