<header class="header">
    <a href="/" class="header__logo">Blogger</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="<%= isActiveRoute('/',currentRoute) %>">Home</a>
            </li>
            <li>
                <a href="/about" class="<%= isActiveRoute('/about',currentRoute) %>">About</a>
            </li>
            <li>
                <a href="/admin" class="<%= isActiveRoute('/admin',currentRoute) %>">Sign in</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button class="searchBtn" aria-expanded="false" style="color: white;">
            Search
            
        </button>
    </div>
</header>