
<div class="a_right">
    <img src="/img/unnamed (3).png" alt="">
</div>
<div class="a_left">
    <img src="/img/unnamed (4).png" alt="">
</div>

<div class="content">
    <h1>ABOUT</h1>
    <pre>This is a blog app made by Shubham gund.</pre>
<pre>Technologies used : NodeJs,Express,Ejs,MongoDb.</pre>
<pre>Contact -> </pre>
    <ul>
        <li>
            E-mail : shubhamgund91@gmail.com
        </li>
        <li>
            linkedIn : <a href="https://www.linkedin.com/in/shubham-gund-8b1260287/">linkedIn Profile</a>
        </li>
    </ul>

</div>
