<div class="author">
    <h2 class="author__heading"> Publish your passions, your way!</h2>
    <p class="author__body">Create a unique and creative blog easily. </p>
</div>
<div class="left">
    <img src="/img/blue5.png" alt="">
</div>
<div class="right">
    <img src="/img/blue1.png" alt="">
</div>
<img src="/img/bg.png" alt="person looking through a window" class="hero-image" width="800" height="400">


<section class="articles">
    <h2 class="articles__heading">Read all the Latest Post</h2>

    <ul class="article-ul">

        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
            <% }) %>
    </ul>

    <% if (nextPage!== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View older posts</a>
    <% } %>

    
</section>  