<div class="author">
    <h1 class="author__heading"> Hi , I am Shubham.</h1>
    <p class="author__body">Web Developer. </p>
</div>
<img src="/img/hero.webp" alt="person looking through a window" class="hero-image" width="800" height="400">
<section class="articles">
    <h2 class="articles__heading">Latest Post</h2>

    <ul class="article-ul">

        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
            <% }) %>
    </ul>

    <% if (nextPage!== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View older posts</a>
    <% } %>

    
</section>